@media screen and (max-width: 800px)  {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #about {
        height: 80vh;
    }
    .image-container {
        width: 30vh;
        height: 30vh;
    }
    .about-background {
        flex-direction: column;
    }
    .exp-outer-container {
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
    }
}