@media screen and (max-width: 800px)  {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #about {
        height: 80vh;
    }
    .image-container {
        width: 15rem;
        height: 15rem;
    }
    .about-background {
        flex-direction: column;
    }
    .exp-outer-container {
        flex-direction: column;
    }
    .contact-info {
        flex-direction: column;
        align-items: flex-start;
    }
    #education h2, #cv-experience h2 {
        font-size: 1.0rem;
    }
    #education h3, #cv-experience h3 {
        font-size: 0.8rem;
    }
    #education p, #cv-experience p {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 600px) {
    .image-container {
        width: 12rem;
        height: 12rem;
    }
    .list-container h3{
        font-size: 2.0rem;
    }
}